.column {
    float: left;
    width: 31.3%;
    margin: 1%;
}

h2{
    text-align: center;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}